# Environments
env/
venv/
.env

# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class
.DS_Store
# IDE / Editor
.vscode/
.idea/
*.swp

# Logs
*.log

# Django/Flask stuff
db.sqlite3

# Redis dumps
dump.rdb